i {
    vertical-align: middle !important
}

.container-90 {
    width: 95%;
}

.something {
    margin-left: 1.5rem
}

.collapsible-header  .collapsible-header-img {
    max-width: 40px;
    vertical-align: middle;
    margin: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}